<h2>Add a new User to the Database</h2>

<form method="post">

    <input type="text" name="UserName" placeholder="Enter User Name" required />
    <br />
    <br />

    <input type="password" name="UserPassword" placeholder="Enter Password" required />

    <br />
    <br />

    <input type="submit" />

</form>
